::deep .btn-toolbar {
    position: absolute;
    top: 2em;
    width: 100%;
    text-align: center;
    z-index: 1;
    justify-content: center !important;
    display: flex !important;
}

::deep .b-layout-sider {
    background: #adb5bd !important;
}

hr {
    margin: 0;
}
