@page "/"

<Row Class="m-0">
    <Column ColumnSize="ColumnSize.Is2" Class="p-0" />
    <Column ColumnSize="ColumnSize.Is10" Class="p-0">
        <div class="mt-5">
            <h1 class="my-5">Welcome!</h1>
            <Button Color="Color.Primary" Clicked="@OnOpenBtnClicked">Open</Button>
        </div>
    </Column>
</Row>
