@page "/"

<Row>
    <Column ColumnSize="ColumnSize.Is2" />
    <Column ColumnSize="ColumnSize.Is8">
        <div class="mt-5">
            <h1 class="my-5">Welcome!</h1>
            <Button Color="Color.Primary" Clicked="@OnOpenBtnClicked">Open</Button>
        </div>
    </Column>
    <Column ColumnSize="ColumnSize.Is2" />
</Row>
